body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 170px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  float: left;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.cardHighlight{
  min-height: 100%;
  background-color: whitesmoke!important;
  height: 250px;
}

.authorName{
  font-family: poppins;
}

#formBox{
  height: 460px;
  width: 350px;
  background-color: whitesmoke;
  border-radius: 10px;
 
}
.cardForm{
  height:  300px;;
  width: 300px;
  
  
}
